* *::before, *::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #141414;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: cyan;
  margin: 10px 0;
}

p {
  color: white;
  margin: 35px 0;
}

hr {
  width: 100%;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: cyan;
}

section {
  width: 80%;
  margin: 50px auto;
}

.contador {
  width: 24.7%;
  text-align: center;
  display: inline-block;
}

.contador-cantidad {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 900;
  color: yellowgreen;
}

svg {
  width: 80px;
  height: 80px;
}

.web {
  color: gray;
}

.facebook {
  color: rgb(66, 103, 178);
}

.youtube {
  color: rgb(255, 0, 0);
}

.twitter {
  color: rgb(29, 161, 242);
}

@keyframes appear {
  0% {
    transform: scale(0.1, 0.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.disguise {
  opacity: 0;
}

.animate {
  animation: appear 1.3s ease;
}


